.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #e6ecf0;
}
.post__body {
  width: 100%;
  padding-right: 10px;
}
.post__body > img {
  border-radius: 20px;
  max-width: 300px;
}
.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}
.post__headerText {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 5px;
}
.post__headerText > h3 {
  font-size: 15px;
}
.post__badge {
  font-size: 14px !important;
  color: #50b7f5;
}
.post__headerSpecial, .post__date {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.post__avatar {
  padding: 15px;
}
.post__date {
  margin-left: auto;
}

p {
  margin: 0;
  padding: 0;
}

.sidebar {
  border-right: 1px solid #e6ecf0;
  width: 280px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.sidebar__userIcon {
  width: 50px;
  min-width: 50px;
  height: 50px;
  text-align: center;
  padding-right: 10px;
  padding-top: 10px;
  transition: all 0.2s ease-out;
}
.sidebar__userIcon:hover {
  cursor: pointer;
  opacity: 0.8;
}
.sidebar__tweet {
  background-color: #50b7f5 !important;
  color: #fff !important;
  font-weight: 900 !important;
  border: none !important;
  border-radius: 30px !important;
  height: 50px;
  margin-top: 20px;
}
.sidebar__tweet:hover {
  opacity: 0.8;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.15s ease-out;
  margin-left: 20px;
}
.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: #50b7f5;
}
.sidebarOption--active {
  color: #50b7f5;
}
.sidebarOption > .MuiSvgIcon-root {
  padding-right: 20px;
}
.sidebarOption > h2 {
  font-size: 20px;
  margin-right: 20px;
  font-weight: 800;
}

.timeline {
  width: 60%;
  border: 1px solid #e6ecf0;
  overflow-y: scroll;
}
@media (max-width: 1199px) {
  .timeline {
    width: calc(100% - 80px);
  }
}
@media (max-width: 767px) {
  .timeline {
    width: 100%;
  }
}
.timeline::-webkit-scrollbar {
  display: none;
}
.timeline__header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  border: 1px solid #e6ecf0;
  padding: 5px 20px;
}
.timeline__header > h2 {
  font-size: 20px;
  font-weight: 800;
}

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid #e6ecf0;
  padding-right: 10px;
}
.tweetBox > form {
  display: flex;
  flex-direction: column;
}
.tweetBox__input {
  padding: 20px;
  display: flex;
}
.tweetBox__input > img {
  width: 40px;
  height: 40px;
}
.tweetBox__input > input {
  flex: 1;
  font-size: 20px;
  margin-left: 20px;
  border: none;
}
.tweetBox__imageInput {
  border: none;
  padding: 20px;
  margin-bottom: 10px;
}
.tweetBox__tweetButton {
  background-color: #50b7f5 !important;
  color: #fff !important;
  font-weight: 900 !important;
  width: 130px;
  height: 40px;
  border-radius: 30px !important;
  margin-top: 20px;
  margin-left: auto !important;
}
.tweetBox__tweetButton:hover {
  opacity: 0.8;
}

.widgets {
  width: 30%;
  min-width: 390px;
}
@media (max-width: 1199px) {
  .widgets {
    padding-top: 30px;
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
}
.widgets__input {
  display: flex;
  align-items: center;
  background-color: #e6ecf0;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}
@media (max-width: 1199px) {
  .widgets__input {
    margin-left: 0;
    margin-right: 10px;
  }
}
.widgets__input > input {
  border: none;
  width: 100%;
  background-color: #e6ecf0;
}
.widgets__searchIcon {
  color: gray;
}
.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  padding-top: 5px;
  background-color: #f5f8fa;
  border-radius: 20px;
}
@media (max-width: 1199px) {
  .widgets__widgetContainer {
    margin-left: 0;
    margin-right: 10px;
  }
}
.widgets__widgetContainer > h2 {
  font-size: 18px;
  font-weight: 800;
}/*# sourceMappingURL=style.css.map */